<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}">
    <title>∞chan</title>
  </head>

  <body class="frontpage">

    <div id="main">

      <header>

        <div class="col col-3 header_logo">
          <img src="https://8chan.co/static/logo_33.svg" alt="logo" width="220" height="145" id="logo">
        </div>

        <div class="col col-9 header_text">
          <em>{% trans %}Welcome to ∞chan, the infinitely expanding imageboard.{% endtrans %}</em>
          <br>
          <strong>{% trans %}Featured boards:{% endtrans %}</strong>
          <span class="favorite-boards"></span>
          <br>
          <strong>{% trans %}Board of the week:{% endtrans %} /<a href="/cow">cow</a>/, /<a href="/fringe">fringe</a>/, /<a href="/desu">desu</a>/</strong>
        </div>
      </header>

      <div class="mobileDisplay">
        <a href="create.php" class="button">{% trans %}Create&nbsp;your&nbsp;board{% endtrans %}</a>
        <a href="boards.html" class="button">{% trans %}Browse&nbsp;existing&nbsp;boards{% endtrans %}</a>
      </div>

      <div id="content">

        <div class="col col-3 menuCol">

          <div class="content_menu">
            <ul class="content_menu_head">
              <li><em><a href="https://qchat.rizon.net/?channels=#8chan" target="_blank">IRC:#8chan @ irc.rizon.net</a></em></li>
              <li><a href="/faq.html">{% trans %}Frequently Asked Questions{% endtrans %}</a></li>
              <li><a href="/random.php">{% trans %}View random board{% endtrans %}</a></li>
              <li><a href="/mod.php" >{% trans %}Manage your board{% endtrans %}</a></li>
            </ul>

            <div class="content_menu_list">
              <h4>{% trans %}Why host your imageboard on 8ch?{% endtrans %}</h4>
              <ul>
                <li>{% trans %}100% free{% endtrans %}</li>
                <li>{% trans %}Customizable board styles and banners{% endtrans %}</li>
                <li>{% trans %}User-definable word filters{% endtrans %}</li>
                <li>{% trans %}Optional forced anonymity{% endtrans %}</li>
                <li>{% trans %}Optional country flags{% endtrans %}</li>
                <li>{% trans %}YouTube embedding{% endtrans %}</li>
                <li>{% trans %}Run by competent, experienced global staff{% endtrans %}</li>
                <li>{% trans %}No technical knowledge needed{% endtrans %}</li>
                <li>{% trans %}HTTPS by default{% endtrans %}</li>
                <li>{% trans %}Simple global rules — the rest is up to you{% endtrans %}</li>
                <li><s>{% trans %}Featured on Al Jazeera America{% endtrans %}</s> ;_;</li>
                <li><em>{% trans %}Not owned by moot{% endtrans %}</em></li>
              </ul>
            </div>
            
            <div class="clear"></div>
            <hr>

            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/infinitechan" data-widget-id="512750449955328002">Tweets by @infinitechan</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>

        </div>

        <div class="col col-9 bodyCol">
          <div class="content_body">
            <p>{% trans %}On ∞chan, you can create your own imageboard for free with no experience or programming knowledge needed. As long as the admin logs in once per week and it gets one new post every 72 hours, the board will be hosted forever.{% endtrans %}</p>
            <p style="color:red">{% trans %}Warning: Some boards on this site might contain content of an adult or offensive nature. Please cease use of this site if it is illegal for you to view such content. The boards on this site are made entirely by the users and do not represent the opinions of the administration of 8chan.co. In the interest of free speech, only content that directly violates the DMCA or other US laws is deleted.{% endtrans %}</p>
            <div class="mobileHide">
              <a href="create.php" class="button">{% trans %}Create&nbsp;your&nbsp;board{% endtrans %}</a>
              <a href="boards.html" class="button">{% trans %}Browse&nbsp;existing&nbsp;boards{% endtrans %}</a>
            </div>
            <br>
            <!-- START RIZON PASTE / NEWS SCRIPT CODE HERE -->
            <iframe src="https://qchat2.rizon.net/?channels=8chan&amp;uio=OT0xMTE05"></iframe>
            <!--END PASTE CODE -->
          </div>
        </div>

      </div>

	<div class="col col-12 footer">
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">- <a href="http://tinyboard.org/">Tinyboard</a> + 
			<a href='https://int.vichan.net/devel/'>vichan</a> {{ config.version }} -
		<br><a href="http://tinyboard.org/">Tinyboard</a> Copyright &copy; 2010-2014 Tinyboard Development Group    
		<br><a href="https://int.vichan.net/devel/">vichan</a> Copyright &copy; 2012-2014 vichan-devel</p>
		{% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
	</footer>
	</div>
  </div><!--div#main-->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/update_boards.js"></script>
{% if config.instantclick %}
<script data-no-instant src="{{ config.root }}js/instantclick.min.js"></script>
<script data-no-instant type="text/javascript">{% raw %}
  InstantClick.init();
{% endraw %}</script>
{% endif %}

</body>
</html>
